/*
* @Author: YP
* @Date:   2017-11-07 00:06:45
* @Last Modified by:   YP
* @Last Modified time: 2017-11-17 13:41:48
*/
#middle-scrollImages
{
	width:100%;
	height:350px;
	clear: both;
    position:relative;
    overflow: hidden;
}
#outWrapper
{
    position: relative;
	height:100%;
	width:20000px;
}
.innerImage
{
float:left;
display: inline-block;
height: 350px;
width:544px;

/*filter: sepia(1)  saturate(0) hue-rotate(-6deg);*/
}
.filterToGray
{
	filter: brightness(0.30);
}
.scroll_commen_innnerCell
{
	/*display: inline-block;*/
	/*position: relative;*/
	width:456px;
	height: 350px;
	float: left;
	box-shadow: -1px -1px 100px 1px black inset;
	
}	
.picture_container
{
	  
		display: inline-block;
		float: left;
		z-index:-1;

}

.scroll1_div_link-commen
{
	display: inline-block;
	text-decoration: none;
	color:#ffffff;
	font-size:32px;
	padding:50px;
}

.ScrollInnerBar
{
	position: absolute;
	height:40px;
	margin-left: 50px;
	top:186px;
}

.scrollInnerText
{
	
	display: inline-block;
	padding: 12px 0px 12px 20px;
	background: #ffffff;
	opacity: 0.7;
	
}

.scrollInnerLink
{
	
	display: inline-block;
	text-align: center;
	padding:12px 0px;
	color:white;
    margin-left:-5px;
	width:105px;
}
.btnHover
{
	background:#000000;
}
#scrollControl
{
 position:absolute;
 left:227px;
 bottom:34px;
}
.scrollControlImg
{
	cursor: pointer;
}

@keyframes animateDiv0
{
from {background:black;}
to {background:#293352;}
}
@keyframes animateDiv1
{
from {background:black;}
to {background:#293352;}
}
@keyframes animateDiv2
{
from {background:black;}
to {background: #a51c30;}
}
@keyframes animateDiv3
{
from {background:black;}
to {background: #29d352;}
}
@keyframes animateDiv4
{
from {background:black;}
to {background: #293352;}
}
@keyframes animateDiv5
{
from {background:black;}
to {background: #0098b8;}
}
@keyframes animateDiv6
{
from {background:black;}
to {background: #a51c30;}
}
@keyframes animateDiv7
{
from {background:black;}
to {background: #29d352;}
}



.animateDiv0
{
	animation: animateDiv0 0.5s;
}
.animateDiv1
{
	animation: animateDiv1 0.5s;
}
.animateDiv2
{
	animation: animateDiv2 0.5s;
}
.animateDiv3
{
	animation: animateDiv3 0.5s;
}
.animateDiv4
{
	animation: animateDiv4 0.5s;
}
.animateDiv5
{
	animation: animateDiv5 0.5s;
}
.animateDiv6
{
	animation: animateDiv6 0.5s;
}
.animateDiv7
{
	animation: animateDiv7 0.5s;
}


#scroll_div0
{
	background: #29d352;
}
#scroll_div1
{
	background:#293352;

}

#scroll_div2
{
	background: #a51c30;
}
#scroll_div3
{
	background: #29d352;
}
#scroll_div4
{
	background: #293352;
}
#scroll_div5
{
	background: #0098b8;
}
#scroll_div6
{
	background: #a51c30;
}
#scroll_div7
{
	background: #29d352;
}
#continueScrollButton
{
	display: none;
}

#btn1
{

	background:#293352;
}

#btn2
{
	background: #a51c30;
}
#btn3
{
	background: #29d352;
}
#btn4
{
	background: #293352;
}
#btn5
{
	background: #0098b8;
}
#btn6
{
	background: #a51c30;
}
#btn7
{
	background: #29d352;
}
#btn0:hover
{
	background: #000000;
}
#btn1:hover
{
	background: #000000;
}
#btn2:hover
{
	background: #000000;
}
#btn3:hover
{
	background: #000000;
}
#btn4:hover
{
	background: #000000;
}
#btn5:hover
{
	background: #000000;
}
#btn6:hover
{
	background: #000000;
}
#btn7:hover
{
	background: #000000;
}
