/*
* @Author: YP
* @Date:   2017-11-07 00:06:45
* @Last Modified by:   YP
* @Last Modified time: 2017-11-13 10:31:39
*/
#middle-scrollImages
{
	width:100%;
	height:350px;
	clear: both;
    overflow: hidden;
}
#outWrapper
{
	height:100%;
	width:7100px;
	position: relative;
}
.innerImage
{
float:left;
display: inline-block;
height: 350px;
width:54.5%;
}

.scroll_commen_innnerCell
{
	
	width:45.5%;
	height: 350px;
	display: inline-block;
	float: left;
	box-shadow: -1px -1px 100px 1px black inset;	
}
.picture_container
{
	   
		width:1000px;
		display: inline-block;
		float: left;
		z-index:-1;

}
.scroll1_div_link-commen
{
	display: inline-block;
	text-decoration: none;
	color:#ffffff;
	font-size:32px;
	padding:50px;
}

.ScrollInnerBar
{
	position: absolute;

	height:40px;
	margin-left: 50px;
}

.scrollInnerText
{
	
	display: inline;
	padding: 12px 0px 12px 20px;
	background: #ffffff;
	opacity: 0.7;

}

.scrollInnerLink
{
	
	display: inline-block;
	text-align: center;
	padding:12px 0px;
	color:white;
    margin-left:-5px;
	width:105px;
	
}





















#scroll_div1
{
	background:#293352;
}
#scroll_div2
{
	background: #a51c30;
}
#scroll_div3
{
	background: #29d352;
}
#scroll_div4
{
	background: #293352;
}
#scroll_div5
{
	background: #0098b8;
}
#scroll_div6
{
	background: #a51c30;
}
#scroll_div7
{
	background: #29d352;
}




#btn1
{
	background:#293352;
}
#btn2
{
	background: #a51c30;
}
#btn3
{
	background: #29d352;
}
#btn4
{
	background: #293352;
}
#btn5
{
	background: #0098b8;
}
#btn6
{
	background: #a51c30;
}
#btn7
{
	background: #29d352;
}